<section class="search-form">
  <%= form_for :clues, url: clues_path, method: :get do |f| %>
    <div class="input-group">
      <%= label_tag :keywords, nil, class: "sr-only" %>
      <%= text_field_tag :keywords, nil, class: "form-control search-sm pull-right" %>
      <span class="input-group-btn">
        <%= submit_tag "Search", class: "btn btn-primary pull-right" %>
      </span>
    </div>
  <% end %>
</section>
