<div class="data" data-id="<%= @episode.id %>"></div>
<section class="form-container" class="form-group" ng-app="episodeForm"
                                ng-controller="episodeFormController as ep">
  <div class="form-group">
    <input type="text" id="title" class="form-control" ng-model="episode.title">
  </div>
  <button type="button" class="btn btn-primary" ng-click="episode.$save()">
    Save
  </button>
</section>
