<section class="gameboard">
  <table class="gameboard">
    <thead><tr>
      <% board.columns.each do |column| %>
        <th class="category box"><%= column.category.name %></th>
      <% end %>
    </tr></thead>
    <tbody>

    </tbody>
  </table>
</section>
