<% @game.boards.each do |board| %>
  <div class="container">
    <table class="board"><thead><tr>
      <% board.columns.each do |column| %>
      <th class="category box"><%= column.category.name %></th>
      <% end %>
    </tr></head>
    <tbody>
      <% (0...board.columns[0].clues.length).each do |i| %>
        <tr>
          <% board.columns.each do |column| %>
            <td class="clue box"><%= column.clues[i].clue %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
    <div class="seperator"></div>
  </div>
<% end %>
