<% @game.boards.each do |board| %>
  <div class="row">
    <div class="board col-md-12">
      <% board.columns.each do |column| %>
        <div class="column col-md-2">
          <div class="category box">
            <span class="text"><%= column.category.name %></span>
          </div>
          <% column.clues.each do |clue| %>
            <div class="clue box">
              <%= clue.clue %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
