@import "bootstrap-sprockets";
@import "bootstrap";

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin-top: 10px;
  margin-bottom: 20px;
}
.debug_dump {
  margin-top: 20px;
}

.form-container {
  width: 1420px;
  margin-left: auto;
  margin-right: auto;
}

.seperator {
  display: block;
  height: 10px;
}
.edit-board {
  display: block;
}

.edit-column {
  display: inline;
}
.inline-block {
  display: inline-block;
}

.input-narrow {
  width: 40px;
}
.box {
  color: white;
  padding: 4px;
  max-width: 220px;
  overflow: hidden;
  text-align: center;
  vertical-align: top;
  border: 3px solid black;
}

.games-list {
  margin-top: 5px;
}
.link {
  color: #337ab7;
}

.edit-box {
  border-bottom: 2px solid grey;
}

.response {
  color: rgb(101, 255, 0);
}

.text {
  vertical-align: middle;
}
.main {
  width: 100%;
}

.category-header {
  width: 200px;
}

.clear-both {
  clear:both;
}

.hidden {
  display: none;
}

.fixed-width {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.correct {
  color: #65ff00;
}

.incorrect {
  color: red;
}
.fa-picture-o {
  margin-right: 4px;
}

.image-link {
  color: white;
  vertical-align: bottom;
}

.value {
  font-size: 14px;
  font-style: italic;
}

.pick-order {
  color: white;
  font-size: 80%;
}

.private-item {
  font-style: italic;
  background-color: #ffebee;
}

.search-results {
  margin-top: 20px;
}

.search-sm {
  width: 300px;
  max-width: 300px;
  display: inline;
}

#new-contestant {
  z-index: 1500;
}
