@import "bootstrap-sprockets";
@import "bootstrap";

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin-top: 10px;
  margin-bottom: 20px;
}
.debug_dump {
  margin-top: 20px;
}


.seperator {
  display: block;
  height: 10px;
}

.inline-block {
  display: inline-block;
}



.games-list {
  margin-top: 5px;
}
.link {
  color: #337ab7;
}

.edit-box {
  border-bottom: 2px solid grey;
}


.text {
  vertical-align: middle;
}
.main {
  width: 100%;
}

.clear-both {
  clear:both;
}

.hidden {
  display: none;
}

.fixed-width {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}



.fa-picture-o {
  margin-right: 4px;
}



.value-results {
  font-size: 14px;
  font-style: italic;
}

.private-item {
  font-style: italic;
  background-color: #ffebee;
}

.search-results {
  margin-top: 20px;
}

.search-sm {
  width: 300px;
  max-width: 300px;
  display: inline;
}

#new-contestant {
  z-index: 1500;
}

.response-results {
  color: #5cb85c;
}
