
@mixin radial-gradient {
  background: #3240ff;
  background: -moz-radial-gradient(center, ellipse cover, #0c20ff 0%, #00029b 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #0c20ff 0%,#00029b 100%);
  background: radial-gradient(ellipse at center, #0c20ff 0%,#00029b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c20ff', endColorstr='#00029b',GradientType=1 );
}

.board {
  @include radial-gradient;
  text-shadow: 2px 2px black;
  margin-left: auto;
  margin-right: auto;
}

.full-round {
  border: 3px solid black;
  table-layout: fixed;
  margin-top: 20px;
  border-collapse: collapse;
  border-radius: 4px;
}

.category {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16pt;
  vertical-align: middle;
}
.clue-table {
  height: 100%;
  width: 100%;
}
td.clue {
  font-family: serif;
  font-size: 1.1em;
  min-height: 150px;
}
.clue-header {
  font-family: sans-serif;
  font-size: 12pt;
  text-align: center;
  color: #e3e800;
}
.clue-body {
  vertical-align: middle;
}
.clue-table {
  border: 0px;
  padding: 0px;
  margin: 0px;
}
.response-results {
  color: #5cb85c;
}
